# Prepare database
## create database

In [31]:
%%bash
docker rm -f my-postgresql && docker run -d --name my-postgresql \
    -e POSTGRES_PASSWORD=password123 \
    -e POSTGRES_DB=dvdrental \
    --user=postgres \
    -p 5432:5432 \
    postgres:latest
sleep 5

while [ 1 ]
do
    nc -z -v -w5 localhost 5432
    if [ $? -eq 0 ]; 
    then
        echo "Created db server"
        break;
    else
        echo "Still creating.." 
    fi
    sleep 1
done

my-postgresql
1e90deba82631098fbcfeeaf5eaef0e30d97e666ce456edf6231bae564598d5d

Connection to localhost 5432 port [tcp/postgresql] succeeded!

Created db server

## import data

https://www.postgresqltutorial.com/postgresql-getting-started/postgresql-sample-database/

https://www.postgresqltutorial.com/postgresql-getting-started/load-postgresql-sample-database/

database schema:

![](images/dvd-rental-sample-database-diagram.png)

In [32]:
%%bash
rm -rf dvdrental.tar
unzip dvdrental.zip
docker exec -i my-postgresql pg_restore -U postgres -d dvdrental < dvdrental.tar

Archive:  dvdrental.zip
  inflating: dvdrental.tar

In [33]:
import sqlalchemy

## connect database using sqlalchemy

Here are some general-looking connection strings for various databases:

        PostgreSQL: postgresql://username:password@host:port/my_database
        MySQL: mysql://username:password@host:port/my_database
        Oracle: oracle://username:password@host:port/my_database
        SQL Server: mssql+pyodbc://username:password@my_database
        SQLite: sqlite:///my_database.db

In [34]:
sqlalchemy.create_engine("postgresql://postgres:password123@localhost/my_database")

Engine(postgresql://postgres:***@localhost/my_database)

## load SQL module

In [35]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## connect database using SQL module

In [36]:
%sql postgresql://postgres:password123@localhost/dvdrental

Exception during reset or similar
Traceback (most recent call last):
  File "/home/xuananh/repo/sql-jupyter-notebooks/.venv/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 739, in _finalize_fairy
    fairy._reset(pool)
  File "/home/xuananh/repo/sql-jupyter-notebooks/.venv/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 988, in _reset
    pool._dialect.do_rollback(self)
  File "/home/xuananh/repo/sql-jupyter-notebooks/.venv/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 682, in do_rollback
    dbapi_connection.rollback()
psycopg2.errors.AdminShutdown: terminating connection due to unexpected postmaster exit
server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

# Using SQL module
## Mark entire cell as a SQL block

The only requirement is to make a `%%sql` prefix on the start. I’ve decided to select the first five rows from some table:

In [37]:
%%sql

SELECT * FROM customer 
WHERE customer_id <=5;

 * postgresql://postgres:***@localhost/dvdrental
5 rows affected.

[(1, 1, 'Mary', 'Smith', 'mary.smith@sakilacustomer.org', 5, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (2, 1, 'Patricia', 'Johnson', 'patricia.johnson@sakilacustomer.org', 6, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (3, 1, 'Linda', 'Williams', 'linda.williams@sakilacustomer.org', 7, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (4, 2, 'Barbara', 'Jones', 'barbara.jones@sakilacustomer.org', 8, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (5, 1, 'Elizabeth', 'Brown', 'elizabeth.brown@sakilacustomer.org', 9, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)]

## Single Line Statements — Store result to a Variable

you can store the result of a SQL query to a variable. Here you will have only one percent sign instead of two: `%sql`

In [38]:
first_name = %sql SELECT first_name FROM customer WHERE email = 'mary.smith@sakilacustomer.org';
print(first_name)

 * postgresql://postgres:***@localhost/dvdrental
1 rows affected.
+------------+
| first_name |
+------------+
|    Mary    |
+------------+

print only first_name

In [39]:
print(first_name[0][0])

Mary

# Reference

https://towardsdatascience.com/heres-how-to-run-sql-in-jupyter-notebooks-f26eb90f3259